html {
    /*height: 100%; */
}

body {
    /*height: 100%; */
    padding-top: 70px;
    padding-bottom: 70px;
}

aside {
    /*  height: 100%;
         border: 3px solid red;
        */
   
}

article {
    /* height: 100%;
       border: 3px solid green;
       */
}

.container-fluid {
    /* height: 100%;*/
}

.row {
    /*height: 100%;    */
}

#tr_katalog {
    max-height: 800px;
    overflow: auto;
}

#tr_katalog tr:hover {
    cursor: pointer;
}


#video_katalog tr:hover {
    cursor: pointer;
}


#menu{
    margin-left: 150px;
}

